body {
    background-color: #B2D8CE;

}

header {
    background-color: #648DB3;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 15em;
    background: linear-gradient(135deg, #52357B, #5459AC);
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 1em;
    padding: 0.1em 0.7em;
    margin: 0 0.5em;
    font-size: 1.5em;

}

.menu a:hover {
    color: rgba(255, 255, 255, 0.788);
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 1em;
}

.logo {
    position: absolute;
    width: 14em;
    display: block;
    border-radius: 10em;
    left: 0;
    right: 0;
}

.titulo-sobre {
    position: relative;
    margin-top: 5em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-weight: bold;
}

.home-box {
    position: relative;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20em;
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    margin-top: 5em;
    padding: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home-box h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
}

.home-box p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

.titulo-servicos {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 2em;
}

.servicos-box {
    position: relative;
    left: 5%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    margin-top: 2em;
    height: 60em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);


}



.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
    border: 2px solid black;
    border-radius: 1em;
    height: 22em;
    width: 30em;

}

.servicos-img {
    border-radius: 1rem;
}

.servicos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 2em;

}

.servicos-box h3 {
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em
}

.servicos-box p {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    text-align: justify;
    width: 55%;
}



.titulo-depoimentos {

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 2em;
}

.depoimentos-box {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    margin-top: 2em;
    height: 60em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
    border: 2px solid black;
    border-radius: 1em;
    height: 22em;
    width: 30em;
}

.depoimentos-img {
    border-radius: 1rem;
    height: 10em;
    width: 10em;
}

.depoimentos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 2em;
}
.depoimentos-box h3 {
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
}
.depoimentos-box p {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    text-align: justify;
    width: 55%;
}